:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */
/* 62.5% of 16px = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* link */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: margin 0.15s;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */
.badge--big {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 30px;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  border-radius: 15px;
}

@media screen and (min-width: 1024px) {
  .badge--big {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* list */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  padding: 1rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  margin-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding: 0;
  }
}

/* icon */
.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1rem;
  }
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: #fff;
  color: var(--color-headings);
}

/* input */

.input {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 1.5rem 3.5rem;
  color: var(--color-headings);
  outline: 0;
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  input {
    font-size: 1.5rem;
  }
}
