<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible__expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">wordpress hosting</a></li>
          <li><a href="#">free automated wordpress</a></li>
          <li><a href="#">domain names</a></li>
          <li><a href="#">monthly web hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">About</a></li>
          <li><a href="">Affliate</a></li>
          <li><a href="">blog</a></li>
          <li><a href="">Carrers</a></li>
          <li><a href="">Community</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Green hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="contact"></a></li>
          <li><a href="Knowledge base"></a></li>
          <li><a href="forms"></a></li>
          <li><a href="systems status"></a></li>
          <li><a href="web hosting"></a></li>
          <li><a href="dream compute"></a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">copyright 2020 Zakariyya Mustopha Abiodun</p>
    </section>
  </div>
</footer>
