<head>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore cum
    necessitatibus molestiae vel possimus labore dolores optio temporibus
    adipisci? Reprehenderit.
  </p>
  <media class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote-line">
        <use xlink:href="../images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote __author">Mustopha Zakariyya</h3>
      <p class="quote__organization">Musty company CEO</p>
    </div>
  </media>
</blockquote>
