<head>
  <link
    rel="stylesheet"
    href="../css/styles.css

  "
  />
</head>
<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore cum
        necessitatibus molestiae vel possimus labore dolores optio temporibus
        adipisci? Reprehenderit.
      </p>
      <media class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote-line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Mustopha Zakariyya</h3>
          <p class="quote__organization">Musty company CEO</p>
        </div>
      </media>
    </blockquote>
  </div>
</div>
